[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
deepface = "*"
tf-keras = "*"
tensorflow = "*"
matplotlib = "*"
segmentation-models = "*"
segment-anything = {git = "https://github.com/facebookresearch/segment-anything.git"}
pycocotools = "*"

[dev-packages]

[requires]
python_version = "3.12"
